.matchesContainer {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.singleMatch {
  border-radius: 25px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.971);
  border: 1px solid rgba(0, 0, 0, 0.296);
}

h1,
h2,
h3 {
  margin: 0px;
}

.mainChamp {
  border-top-left-radius: 15px;
  grid-row: 1;
  grid-column: 1;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  border: 2px solid rgba(0, 0, 0, 0.296);
}

.enemys {
  border-top-right-radius: 15px;

  border: 2px solid rgba(0, 0, 0, 0.296);
  grid-column: 2;
  grid-template-rows: 1fr 1fr;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.summonerContainer {
  position: relative;
}

.mainChampKda {
  position: absolute;
  font-style: italic;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.854);
  width: 100%;
}

.gameLength {
  grid-column: 1 / 4;
  grid-row: 3;
}

.teammates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.enemysContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.singleTeammate,
.singleEnemy {
  font-weight: 800;
  color: rgb(76, 76, 253);
}

.teammateName,
.enemyName {
  font-size: smaller;
  cursor: pointer;
  color: black;
}

.champPic {
  width: 70px;
  padding: 0px 10px;
}

.funFacts {
  grid-column: 1 / -1;
  font-size: 22px;
  grid-row: 2;
  display: grid;
  padding: 20px;
  gap: 5px;
}

.funFacts > li {
  padding: 5px;
  border: 1px solid white;
}

.funFacts > .red {
  background-color: rgb(50, 50, 50);
  color: white;
}

.funFacts > .green {
  background-color: rgb(236, 236, 236);
}

.funFacts > .yellow {
  background-color: rgb(171, 171, 171);
}

.summonerName {
  margin-top: 30px;
  letter-spacing: 7px;
  font-style: oblique;
}

@media only screen and (max-width: 900px) {
  .matchesContainer {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .test {
    display: unset;
  }
}
